@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IntelliTest.Data.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        ViewBag.Title = "User Profile";
        string src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png";
        if (!string.IsNullOrEmpty(user.PhotoPath))
        {
            src = "/" + user.PhotoPath;
        }
        <li style="display: flex;
                                    align-items: center;">
                <a style="font-weight: 500;">@(user.FirstName +" "+ user.LastName[0]+".")</a>
        </li>
        <li class="nav-item">

            <a asp-action="ViewProfile" asp-controller="User" class="nav-link text-dark">
                <img src="@src" alt="" style="width: 40px; height: 40px; margin-left: 10px; border-radius: 100%;">
            </a>
        </li>
        <li class="nav-item">
            <a type="submit" class="nav-link text-dark" asp-controller="User" asp-action="Logout"
               asp-route-Id="@UserManager.GetUserId(User)">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>