@using IntelliTest.Infrastructure
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div id="error-page">
    <div class="error-content">
        <h2 class="header">
            @Model.StatusCode
        </h2>
        <h4>
            @Model.Message
        </h4>
        @if (Model.StatusCode == 401)
        {
            string message = "Вие не сте отбелязали дали сте ученик или учител, отидете в профилът ви и изберете.";
            if (User.IsStudent())
            {
                message = "Вие сте ученик и нямате достъп";
            }
            else if (User.IsTeacher())
            {
                message = "Вие сте учител и нямате достъп";
            }
            <h4>
                @message
            </h4>
        }
        <div class="btns">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Върни се</a>
        </div>
    </div>
</div>
