<div class="cd-filter">
            <form>
                <div class="cd-filter-block">
                    <h4 onclick="OnCloseOpen(this)">Подредба</h4>
                    <div class="cd-filter-content">
                        <div class="cd-select cd-filters">
                            <select class="filter" name="selectThis" id="selectThis">
                                <option value=".option1">Харесвания</option>
                                <option value=".option2">Изпитници</option>
                                <option value=".option3">Ср. Рез.</option>
                                <option value=".option4">Въпроси</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="cd-filter-block">
                    <h4 onclick="OnCloseOpen(this)">Потърси</h4>

                    <div class="cd-filter-content">
                        <input type="search" placeholder="Потърси..."/>
                    </div>
                </div>

                <div class="cd-filter-block">
                    <h4 onclick="OnCloseOpen(this)">Предмет</h4>

                    <div class="cd-filter-content">
                        <div class="cd-select cd-filters">
                            <select class="filter" name="selectThis" id="selectThis">
                                <option value=".option1">Математика</option>
                                <option value=".option2">БЕЛ</option>
                                <option value=".option3">АЕ</option>
                                <option value=".option4">Физика</option>
                                <option value=".option4">Химия</option>
                                <option value=".option4">Биология</option>
                                <option value=".option4">История</option>
                                <option value=".option4">География</option>
                                <option value=".option4">Музика</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="cd-filter-block">
                    <h4 onclick="OnCloseOpen(this)">Клас</h4>

                    <div class="cd-filter-content">
                        <div class="cd-select cd-filters">
                            <select class="filter" name="selectThis" id="selectThis">
                                <option value=".option1">1 клас</option>
                                <option value=".option2">2 клас</option>
                                <option value=".option3">3 клас</option>
                                <option value=".option4">4 клас</option>
                                <option value=".option4">5 клас</option>
                                <option value=".option4">6 клас</option>
                                <option value=".option4">7 клас</option>
                                <option value=".option4">8 клас</option>
                                <option value=".option4">9 клас</option>
                                <option value=".option4">10 клас</option>
                                <option value=".option4">11 клас</option>
                                <option value=".option4">12 клас</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>

            <a href="#0" class="cd-close" onclick=OnTrigger()>X</a>
        </div>

        <a href="#0" id="trigger" class="cd-filter-trigger" onClick="OnTrigger()">Филтри</a>