@using IntelliTest.Data.Enums
@model Filter
<div class="cd-filter">
    <form method="get" asp-action="Index">
        <div class="cd-filter-block">
            <h4 onclick="OnCloseOpen(this)">Подредба</h4>
            <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                    <select class="filter" asp-for="Sorting">
                        @* <option value="0">Харесвания</option> *@
                        <option value="1">Изпитници</option>
                        <option value="2">Ср. Рез.</option>
                        <option value="3">Въпроси</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="cd-filter-block">
            <h4 onclick="OnCloseOpen(this)">Потърси</h4>

            <div class="cd-filter-content">
                <input type="search" asp-for="SearchTerm" placeholder="Потърси..."/>
            </div>
        </div>

        <div class="cd-filter-block">
            <h4 onclick="OnCloseOpen(this)">Предмет</h4>

            <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                    <select class="filter" asp-for="Subject">
                        @foreach (var subjectValue in Enum.GetValues(typeof(Subject)))
                        {
                            string name = Enum.GetName(typeof(Subject), subjectValue);
                            <option value="@subjectValue">@name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="cd-filter-block">
            <h4 onclick="OnCloseOpen(this)">Клас</h4>

            <div class="cd-filter-content">
                <div class="cd-select cd-filters">
                    <select class="filter" asp-for="Grade">
                        <option value="0">Всички</option>
                        @for (int i = 1; i <= 12; i++)
                        {
                            <option value="@i">@i клас</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Приложи</button>
    </form>

    <a style="cursor: pointer" class="cd-close" onclick=OnTrigger()>X</a>
</div>

<a id="trigger" style="cursor: pointer" class="cd-filter-trigger" onClick="OnTrigger()">Филтри</a>