@model OpenQuestionStatsViewModel
<div class="questBox">
    <div class="customRow">
        <div class="questTextBox">
            <p>@Model.Text</p>
        </div>
    </div>
    <div class="questTextBox questAnswer">
        
    </div>
</div>