@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Здравей, администратор!</h2>
    <p class="lead mb-1 mt-3">
        Това е администрационната част!
    </p>
    <p class="lead mt-1">
        Можеш да видиш <b>всички учители и ученици</b>, <b>всички теестове</b> и <b>всиички уроци </b>
    </p>
    <hr class="my-4">
</div>