@{
    ViewData["Title"] = "Home Page";
}
<div>
            <div class="splitter">
                <img src = "./img/test-img.png"/>
                <div>
                    <p class="text-left my-1">IntelliTest е уеб платформа преназначена за учители с цел да олесни изготвянето и проверяването не тестове.
                    Предоставя възможност за автоматично генериране на въпроси от ключовите думи на даден текст.
                    Можеш да анализираш тестовете, с цел по-леснено оценяване.
                        Вече можеш да използваш автоматична проверка на въпросите с отворен отговор.</p>
                </div>
            </div>
            <section>
                <h2 class="why">Why <span class="logoCol1">Intelli</span><span class="logoCol2">Test</span></h2>
                <div class="row">
                    <div class="column">
                        <div class="customCard">
                            <div class="icon">
                                <img src="./img/question-feedback.png" width=64 height=64/>
                            </div>
                            <h3>Оценяване на въпроси с отворен отговор</h3>
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="customCard">
                            <div class="icon">
                                <img src="./img/ai-chip.png"/>
                            </div>
                            <h3>Генерирай въпроси от текст</h3>
                            <p>
                                IntelliTest използва вече тренираният модел T5
                                специално пригоден за генериране на въпроси от текст.
                                Намират се ключови думи, дати и имена и се задачат въпроси по тях.
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="customCard">
                            <div class="icon">
                                <img src="img/users-line.svg" width="64" height="64"/>
                            </div>
                            <h3>Анализиране на тестовете</h3>
                            <p>
                                Следи как се справят учниците според колко време е отнел тестът, колко е средният успех и кои са най-често срешаните грашки.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>