img
{
    max-width: 100%;
}

.splitter, .image-right
{
    margin: 0.5em 1em;
}

@media (min-width: 20em)
{
    .splitter, .image-right
    {
        display: flex;
        align-items: center;
    }

    .splitter img
    {
        margin-right: 1em;
        float: left; /* fallback */
    }

    .image-right img
    {
        order: 1;
        margin-left: 1em;
        float: right; /* fallback */
    }

    /* clearfix for fallback */
    .splitter::after,
    .image-right::after
    {
        content: "";
        display: block;
        clear: both;
    }
}

@media (min-width: 30em)
{
    .splitter img, .image-right img
    {
        flex-shrink: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.row h1 {
    width: 100%;
    text-align: center;
    font-size: 3.75em;
    margin: 0.6em 0;
    font-weight: 600;
    color: #070024;
}
.column {
    padding: 1em;
    user-select: none;
}
.customCard {
    height: 500px;
    padding: 1em 0.75em;
    text-align: center;
    background: linear-gradient(0deg, #397ef6 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}
.customCard .icon {
        font-size: 2.5em;
        height: 2em;
        width: 2em;
        margin: auto;
        background-color: #397ef6;
        display: grid;
        place-items: center;
        border-radius: 50%;
        color: #ffffff;
    }
.customCard h3 {
        font-size: 1.3em;
        margin: 1em 0 1.4em 0;
        font-weight: 600;
        letter-spacing: 0.3px;
        color: #070024;
    }
    .customCard p {
        line-height: 1.2em;
        color: #1178ee;
    }
.customCard:hover {
        background-position: 0;
    }
.customCard:hover .icon:before {
        height: 2.25em;
        width: 2.25em;
    }
@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}
@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }
    .customCard {
        padding: 1em 1em;
    }
    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}
.logo {
    margin-left: 25px;
    margin-right: 25px;
}

.why {
    font-size: 38px
}

.switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 120px;
    position: relative;
    align-self: center;
}

    .switch-button:before {
        content: "\423\447\438\442\435\43B";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        pointer-events: none;
    }

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
}

.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 5px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

    .switch-button-checkbox + .switch-button-label:before {
        content: "";
        background: #358DF1;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
    }

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.customRegister > .btn.btn-primary {
    margin-top: 20px;
    border-radius: 15px
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #1178ee
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

.customRegister img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

    .bordert:after {
        content: "or connect with";
        position: absolute;
        top: -13px;
        left: calc(50% - 80px);
        background-color: #fff;
        padding: 0px 8px
    }

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }
    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}

body {
    overflow-x: hidden;
}

.hover-black:hover {
    color: black !important;
}

.img-btn {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

/*==================================================
  Create Post Box CSS
  ==================================================*/

.create-post {
    width: 100%;
    min-height: 90px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f2f2;
}

.create-post .form-group {
    margin-bottom: 0;
    display: inline-flex;
}

.create-post .form-group .form-control {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.create-post .form-group img.profile-photo-md {
    margin-right: 10px;
}

.create-post .tools {
    padding: 8px 0 10px;
}

.create-post .tools ul.publishing-tools {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 5px 0;
}

.create-post .tools ul.publishing-tools li a {
    color: #6d6e71;
    font-size: 18px;
}

.create-post .tools ul.publishing-tools li a:hover {
    color: #27aae1;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.friend-list .friend-card {
    border-radius: 4px;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;
    margin-bottom: 20px;
}

.friend-list .friend-card .card-info {
    padding: 0 20px 10px;
}

.friend-list .friend-card .card-info img.profile-photo-lg {
    margin-top: -60px;
    border: 7px solid #fff;
}

img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.text-green {
    color: #8dc63f;
}

.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}


    .uploader label {
        float: left;
        clear: both;
        width: 100%;
        padding: 2rem 1.5rem;
        text-align: center;
        background: #fff;
        border-radius: 7px;
        border: 3px solid #eee;
        transition: all 0.2s ease;
        user-select: none;
    }

        .uploader label:hover {
            border-color: #4797f2;
        }

        .uploader label.hover {
            border: 3px solid #4797f2;
            box-shadow: inset 0 0 0 6px #eee;
        }

            .uploader label.hover #start i.fa {
                transform: scale(0.8);
                opacity: 0.3;
            }

    .uploader #start {
        float: left;
        clear: both;
        width: 100%;
    }

        .uploader #start.hidden {
            display: none;
        }

        .uploader #start i.fa {
            font-size: 50px;
            margin-bottom: 1rem;
            transition: all 0.2s ease-in-out;
        }

    .uploader #response {
        float: left;
        clear: both;
        width: 100%;
    }

        .uploader #response.hidden {
            display: none;
        }

        .uploader #response #messages {
            margin-bottom: 0.5rem;
        }

    .uploader #file-image {
        display: inline;
        margin: 0 auto 0.5rem auto;
        width: auto;
        height: auto;
        max-width: 180px;
    }

        .uploader #file-image.hidden {
            display: none;
        }

    .uploader #notimage {
        display: block;
        float: left;
        clear: both;
        width: 100%;
    }

        .uploader #notimage.hidden {
            display: none;
        }

    .uploader progress, .uploader .progress {
        display: inline;
        clear: both;
        margin: 0 auto;
        width: 100%;
        max-width: 180px;
        height: 8px;
        border: 0;
        border-radius: 4px;
        background-color: #eee;
        overflow: hidden;
    }

        .uploader .progress[value]::-webkit-progress-bar {
            border-radius: 4px;
            background-color: #eee;
        }

        .uploader .progress[value]::-webkit-progress-value {
            background: linear-gradient(to right, #36afff 0%,#4797f2 50%);
            border-radius: 4px;
        }

        .uploader .progress[value]::-moz-progress-bar {
            background: linear-gradient(to right, #36afff 0%, #4797f2 50%);
            border-radius: 4px;
        }

    .uploader input[type="file"] {
        display: none;
    }

    .uploader div {
        margin: 0 0 0.5rem 0;
        color: #4797f2;
    }

    .uploader .btn {
        display: inline-block;
        margin: 0.5rem 0.5rem 1rem 0.5rem;
        clear: both;
        font-family: inherit;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        text-transform: initial;
        border: none;
        border-radius: 0.2rem;
        outline: none;
        padding: 0 1rem;
        height: 36px;
        line-height: 36px;
        color: #fff;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        background: #4797f2;
        border-color: #4797f2;
        cursor: pointer;
    }

.select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
}

.list-items {
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open ~ .list-items {
    display: block;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

.project-list-table {
    border-collapse: separate;
    border-spacing: 0 12px
}

.project-list-table tr {
    background-color: #fff
}

.table-nowrap td, .table-nowrap th {
    white-space: nowrap;
}

.table-borderless > :not(caption) > * > * {
    border-bottom-width: 0;
}

.table > :not(caption) > * > * {
    padding: 0.75rem 0.75rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.avatar-sm {
    height: 2rem;
    width: 2rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

img, svg {
    vertical-align: middle;
}

a {
    color: #3b76e1;
    text-decoration: none;
}

.badge-soft-danger {
    color: #f56e6e !important;
    background-color: rgba(245,110,110,.1);
}

.badge-soft-success {
    color: #63ad6f !important;
    background-color: rgba(99,173,111,.1);
}

.badge-soft-primary {
    color: #3b76e1 !important;
    background-color: rgba(59,118,225,.1);
}

.badge-soft-info {
    color: #57c9eb !important;
    background-color: rgba(87,201,235,.1);
}

.avatar-title {
    align-items: center;
    background-color: #3b76e1;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.bg-soft-primary {
    background-color: rgba(59,118,225,.25) !important;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.lessonSubmit {
    display: flex;
    align-self: center;
    margin-left: 20px
}

@media screen and (max-width: 576px) {
    #homeImg {
        display: none
    }
}