img
{
    max-width: 100%;
}

.splitter, .image-right
{
    margin: 1em 2em;
}

@media (min-width: 20em)
{
    .splitter, .image-right
    {
        display: flex;
        align-items: center;
    }

    .splitter img
    {
        margin-right: 1em;
        float: left; /* fallback */
    }

    .image-right img
    {
        order: 1;
        margin-left: 1em;
        float: right; /* fallback */
    }

    /* clearfix for fallback */
    .splitter::after,
    .image-right::after
    {
        content: "";
        display: block;
        clear: both;
    }
}

@media (min-width: 30em)
{
    .splitter img, .image-right img
    {
        flex-shrink: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.row h1 {
    width: 100%;
    text-align: center;
    font-size: 3.75em;
    margin: 0.6em 0;
    font-weight: 600;
    color: #070024;
}
.column {
    padding: 1em;
    user-select: none;
}
.customCard {
    height: 500px;
    padding: 1em 0.75em;
    text-align: center;
    background: linear-gradient(0deg, #397ef6 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}
.customCard .icon {
        font-size: 2.5em;
        height: 2em;
        width: 2em;
        margin: auto;
        background-color: #397ef6;
        display: grid;
        place-items: center;
        border-radius: 50%;
        color: #ffffff;
    }
.customCard h3 {
        font-size: 1.3em;
        margin: 1em 0 1.4em 0;
        font-weight: 600;
        letter-spacing: 0.3px;
        color: #070024;
    }
    .customCard p {
        line-height: 1.2em;
        color: #1178ee;
    }
.customCard:hover {
        background-position: 0;
    }
.customCard:hover .icon:before {
        height: 2.25em;
        width: 2.25em;
    }
@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}
@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }
    .customCard {
        padding: 1em 1em;
    }
    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}
.logo {
    margin-left: 50px;
    margin-right: 100px;
}

.why {
    font-size: 38px
}

.switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 120px;
    position: relative;
    align-self: center;
}

    .switch-button:before {
        content: "\423\447\438\442\435\43B";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        pointer-events: none;
    }

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
}

.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 5px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

    .switch-button-checkbox + .switch-button-label:before {
        content: "";
        background: #358DF1;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
    }

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.customRegister > .btn.btn-primary {
    margin-top: 20px;
    border-radius: 15px
}

.panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #1178ee
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

.customRegister img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

    .bordert:after {
        content: "or connect with";
        position: absolute;
        top: -13px;
        left: calc(50% - 80px);
        background-color: #fff;
        padding: 0px 8px
    }

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }
    .container {
        margin: 30px 0
    }

    .bordert:after {
        left: 25%
    }
}

body {
    overflow-x: hidden;
}