@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-size: calc(15px + 0.390625vw);
}
@media screen and (min-width: 768px) {
    *,
    *::after,
    *::before {
        font-size: 18px
    }
}

.body_size {
    font-size: 90%;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
  display: none;
}

#error-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#error-page .error-content {
    max-width: 600px;
    text-align: center;
}
.error-content h2 {
    font-size: 6rem;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 100% 0;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.error-content h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    font-size: 2em;
    max-width: 600px;
    position: relative;
}

.error-content p {
    font-size: 1.2em;
    color: #0d0d0d;
}

.error-content .btns {
    margin: 25px 0;
    display: inline-flex;
}

.container-mother {
    max-width: 10000px;
    width: 100%;
    margin: auto;
    padding: 0;
}

.navbar{
    padding: 0;
    box-shadow: 0px 2px 6px 0px #aaa;
    position: sticky;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items{
  order: 2;
  display: flex;
  justify-content: center;
}


.logo{
  order: 1;
  font-size: 2.3rem;
}
.avatar{
  order: 3;
  font-size: 2.3rem;
}

.menu-items li{
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.3rem;
}

.navbar a{
  color: #444;
  text-decoration: none;
  font-weight: 800;
  transition: color 0.2s ease-in-out;
}

.active{
  color: #4797f2 !important;
}

.nav-item a:hover:not(.hover-black){
  color: #4797f2 !important;
}
.nav-item a {
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

a{
  text-decoration: none;
  color: #4797f2;
}

ul, il{
  list-style: none;
}

.nav-link {
    font-weight: 600 !important;
}

@media (max-width: 768px){
  .navbar{
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines{
    display: block;
  }

  .navbar-container{
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"]{
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines{
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1{
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2{
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items{
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow:  5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li{
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items{
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
    transform: rotate(-45deg);
  }

}

@media (max-width: 500px){
  .navbar-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
}

.logoCol1 {
    font-family: "Quicksand";
    color: #4797f2;
    font-size: 40px;
    user-select: none;
}

.logoCol2 {
    font-family: "Quicksand";
    color: #ECA400;
    font-size: 40px;
    user-select: none;
}

.heartIcon {
    color: "#888";
    font-size: 18px;
}

.heart {
    position: absolute;
    bottom: 50px;
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    transition: background-position 1s steps(28);
    transition-duration: 1s;
}
.heartClick {
    z-index: 2;
    position: absolute;
    bottom: 75px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .iconText {
        display: none
    }
}
@media screen and (max-width: 390px) {
    .lessImportant {
        display: none !important
    }
}

.likes {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: left;
}

.heartCount {
    position: absolute;
    right: 70px;
    top: 35px;
}

body {
    background: #F4F7FD;
}

.card-margin {
    margin-bottom: 1.8rem;
    margin-right: 4rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card {
    width: 330px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 10px;
}

.card-body {
    padding: 4% 4%;
}

.left-btn {
    margin-right: 30px;
}

@media screen and (max-width: 450px) {
    .card {
        width: 250px;
    }
    .left-btn {
        margin-right: 10px;
    }
}

.fs90 {
    font-size: 90%;
}

.fs80 {
    font-size: 80%;
}

.btn-sm {
    font-size: 80%;
}

.card > img {
    margin-bottom: 10px;
    max-height: 300px;
}

    .card .card-header.no-border {
        border: 0;
    }

    .card .card-header {
        background: none;
        padding: 0 0.9375rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        min-height: 50px;
        max-width: 25rem;
        margin-top: 15px;
    }

.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
    display: flex;
    align-items: center;
}

    .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #edf1fc;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
            color: #4e73e5;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
            color: #4e73e5;
            line-height: 1;
            font-size: 0.5rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fcfcfd;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
            color: #dde1e9;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
            color: #dde1e9;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-success {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #e8faf8;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
            color: #17d1bd;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
            color: #17d1bd;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ebf7ff;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
            color: #36afff;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
            color: #36afff;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: floralwhite;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
            color: #FFC868;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
            color: #FFC868;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #feeeef;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
            color: #F95062;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
            color: #F95062;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-light {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fefeff;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
            color: #f7f9fa;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
            color: #f7f9fa;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ebedee;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
            color: #394856;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
            color: #394856;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-date-base {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f0fafb;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
            color: #68CBD7;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
            color: #68CBD7;
            line-height: 1;
            font-size: 1rem;
            text-transform: uppercase;
        }

    .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
            color: #3c4142;
            font-size: 18px;
        }

        .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
            color: #B1BAC5;
            font-size: 14px;
        }

.widget-49 .widget-49-meeting-points {
    font-weight: 400;
    font-size: 13px;
    margin-top: .5rem;
    list-style-type: none;
}

    .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
        color: #727686;
    }

.widget-49 .widget-49-meeting-action {
    text-align: right;
    margin-top: 15px;
}

    .widget-49 .widget-49-meeting-action a {
        text-transform: uppercase;
    }

.back-col {
    background-color: #2282ef;
}

.back-col:hover {
    background-color: #0e65c8;
}

.chart {
    height: 300px;
}

.card-chart {
    height: 400px;
    margin-bottom: 30px;
    width: 600px
}

.e-profile {
    padding: 70px;
}

.ck .ck-placeholder:nth-child(1):before {
    font-size: 1.5rem;
}
.lessonEditor > h1 {
    font-size: 1.5rem;
}

.page-link:focus {
    background-color: white;
    box-shadow: none;
}
.page-link:hover {
    background-color: #f7f7f7;
}
.page-link a {
    font-size: 1.5rem
}

.contentOnly {
    width: 80%;
    margin: auto
}
@media screen and (max-width: 576px) {
    .contentOnly {
        width: 95%;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
