@model OpenQuestionAnswerViewModel
<div class="questBox">
    <input value="@Model.Id" asp-for="Id" style="display: none"/>
    <div class="customRow">
        <div class="questTextBox">
            <p>@Model.Text</p>
        </div>
    </div>
    <div class="questTextBox questAnswer">
        <div>
            <textarea onkeyup="textAreaAdjust(this)" onfocus="onFocus(this)" onblur=onFocusOut(this) placeholder="Отговор" type="text" value="@Model.Answer" asp-for="Answer"></textarea>
            <span class="underline"></span>
        </div>
    </div>
</div>