@model LessonViewModel
@{
    ViewBag.Title = "Reading";
}
<div class="editMain">
    <div id="addAddMoreDiv" style="width: 60%; margin-top: 50px;" class="questBox lessonBox">
        <h1>@Model.Title</h1>
        <br/>
        <p>@Model.Content</p>
    </div>
</div>
