@model EditLessonViewModel
@{
    ViewBag.Title = "Editing";
}
<div class="editMain">
    <div id="addAddMoreDiv" style="width: 60%; margin-top: 50px;" class="questBox lessonBox">
        <form method="post" asp-route-id="@Model.Id">
            <div class="form-group">
                <label asp-for="School"></label>
                <input asp-for="School" class="form-control" style="border: 1px solid #ced4da">
                <span asp-validation-for="School" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" style="border: 1px solid #ced4da">
                <span asp-validation-for="Subject" class="small text-danger"></span>
            </div>
            <br/>
            <input style="font-size: 30px" asp-for="Title" value="@Model.Title"/>
            <div class="row row-editor">
                <div class="editor-container">
                    <div class="editor">
                        @Model.Content
                    </div>
                </div>
            </div>
            <br/>
            <button class="btn btn-secondary" type="submit">Готово</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/ckeditor.js"></script>
    <script>BalloonBlockEditor
				.create( document.querySelector( '.editor' ), {
					
					licenseKey: '',
					
					
					
				} )
				.then( editor => {
					window.editor = editor;
			
					
					
					
				} )
				.catch( error => {
					console.error( 'Oops, something went wrong!' );
					console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
					console.warn( 'Build id: efft3hhm8kh1-exwmyi2h3iv' );
					console.error( error );
				} );
		</script>
}