@using IntelliTest.Data.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Filter
<form method="get" asp-action="Index">
                <div class="row">
                <div class="col-lg-4 mb-3 mb-sm-0">
                    <div class="dropdown form-control form-control-lg bg-white filter-dropdown">
                        <label asp-for="Sorting"></label>
                        <select class="form-control form-control-lg bg-white" style="font-size: 1.3rem"
                                data-toggle="select" tabindex="-98" asp-for="Sorting">
                            <div style="height: 100px">
                                <option value="0"> Харесвания </option>
                                <option value="4"> Читатели </option>
                                <option value="5"> Време за четене </option>
                            </div>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="dropdown form-control form-control-lg bg-white filter-dropdown">
                        <label asp-for="Subject" style="font-size: 1.3rem"></label>
                        <select class="form-control form-control-lg bg-white"
                                data-toggle="select" tabindex="-98" asp-for="Subject">
                                @foreach (var subjectValue in Enum.GetValues(typeof(Subject)))
                                {
                                    string name = Enum.GetName(typeof(Subject), subjectValue);
                                    <option value="@subjectValue">@name</option>
                                }
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="dropdown bootstrap-select form-control form-control-lg bg-white filter-dropdown">
                        <label asp-for="Grade" style="font-size: 1.3rem"></label>
                        <select class="form-control form-control-lg bg-white"
                                data-toggle="select" tabindex="-98" asp-for="Grade">
                    @for (int i = 1; i <= 12; i++)
                    {
                                        <option>@i</option>
                    }
                        </select>
                    </div>
                </div>
            </div>
    <div class="mb-5 mt-2" style="justify-content: center; display: flex">
        <input class="form-control form-control-lg bg-white" style="width: 33%; border: 1px solid #ced4da" placeholder="Потърси..." asp-for="SearchTerm"/>
        <button class="btn btn-primary lessonSubmit" type="submit">Приложи</button>
    </div>
    </form>