@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<LessonViewModel>
@{
    ViewBag.Title = "Tests Blog";
}

<div>
    <main class="cd-main-content">
        <div class="floating-container">
            <a class="floating-button" asp-action="Create">+</a>
        </div>
        <section class="cd-gallery">
            <ul style="width: 100%">
                @foreach (var lesson in Model)
                {
                    <partial name="LessonPartialView" for="@lesson"/>
                }
            </ul>
            <div class="cd-fail-message">Няма резултати</div>
        </section>
        <partial name="FilterMenuPartialView"/>
    </main>
</div>

@section Scripts
{
    <script src="~/js/filter.js"></script>
}