@using Microsoft.AspNetCore.Mvc.TagHelpers
@model string
@{
    ViewData["Title"] = "Забравена парола";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
        <div class="container customRegister">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="panel border bg-white" style="min-height: 150px">
                        <form id="account" method="post">
                            <div class="panel-body p-3">
                                <div class="form-group py-2">
                                    <div class="input-field">
                                        <span class="far fa-user p-2"></span>
                                        <input asp-for="@Model" type="text" placeholder="Имейл" name="Email" required>
                                    </div>
                                </div>
                                <button asp-action="ForgotPassword" type="submit" class="btn btn-primary btn-block mt-3">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
