@model ResetPassword
@{
    ViewBag.Title = "Смени паролата";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
        <div class="container customRegister">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="panel border bg-white">
                        <form id="account" method="post">
                            <div class="panel-body p-3">
                                <div class="form-group py-2">
                                    <div class="input-field">
                                        <span class="far fa-user p-2"></span>
                                        <input asp-for="Password" type="text" placeholder="Парола" required>
                                    </div>
                                </div>
                                <div class="form-group py-1 pb-2">
                                    <div class="input-field">
                                        <span class="fas fa-lock px-2"></span>
                                        <input asp-for="RepeatPassword" type="password" placeholder="Повтори паролата" required>
                                        <button class="btn bg-white text-muted">
                                            <span class="far fa-eye-slash"></span>
                                        </button>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mt-3">Промяна на паролата</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
