@model EditUser
<form method="post">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Име</label>
                                <input class="form-control" type="text"
                                       asp-for="FirstName" value="@Model.FirstName">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Фамилия</label>
                                <input class="form-control" type="text"
                                       asp-for="LastName" value="@Model.LastName">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div class="text-center mb-3" style="display: flex; flex-direction: column;">
                                    <label>Аз съм...</label>
                                    <div class="switch-button">
                                @{
                                    if (Model.HasRole)
                                    {
                                                        <input class="switch-button-checkbox" asp-for="IsTeacher" type="checkbox" disabled></input>
                                                        <label class="switch-button-label" for=""><span class="switch-button-label-span">Ученик</span></label>
                                    }
                                    else
                                    {
                                                        <input class="switch-button-checkbox" asp-for="IsTeacher" type="checkbox"></input>
                                                        <label class="switch-button-label" for=""><span class="switch-button-label-span">Ученик</span></label>
                                    }
                                }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px">
                        <div class="col">
                            <div class="form-group">
                                <label>Current Password</label>
                                <input class="form-control" type="password" asp-for="Password">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text"
                                       asp-for="Email" value="@Model.Email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Запази</button>
                </div>
            </div>
        </form>