@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IntelliTest.Infrastructure
@model EditUser
@{
    ViewBag.Title = "User Profile";
    string src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png";
    if (Model.ImageUrl != "")
    {
        src = "/" + Model.ImageUrl;
    }
}
<div class="e-profile">
    <div class="row">
        <div class="col-12 col-sm-auto mb-3">
            <div class="mx-auto" style="width: 140px;">
                <div class="d-flex justify-content-center align-items-center rounded"
                     style="height: 140px; background-color: rgb(233, 236, 239);">
                    <img src="@src" height="140" width="140"/>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
            <div class="text-center text-sm-left mb-2 mb-sm-0">
                <h5 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.FirstName @Model.LastName</h5>
                <div class="mt-2">
                    <form method="post" name="img" enctype="multipart/form-data">
                        <label for="file-upload" class="btn btn-primary">
                            <i class="fa fa-fw fa-camera"></i>
                            <span>Change Photo</span>
                        </label>
                        <input style="display: none" id="file-upload" type="file" accept="image/*"
                               onchange="document.forms['img'].submit(); " asp-for="Image"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="tabs">
        <li class="nav-item">
            <a class="active nav-link" onclick="Info()">Profile Info</a>
        </li>
        @{
            if (User.IsTeacher())
            {
                <li class="nav-item">
                    <a class="nav-link" onclick="MyTests()">Моите тестове</a>
                </li>
            }
            else if (User.IsStudent())
            {
                <li class="nav-item">
                    <a class="nav-link" onclick="Results()">Резултати</a>
                </li>
            }
        }
        <li class="nav-item">
            <a class="nav-link" onclick="Read()">История</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="Like()">Харесани</a>
        </li>
    </ul>
    <div class="tab-content pt-3">
        <div class="tab-pane active" style="color: black !important" id="panels">
            <partial name="Panels/UserInfoPartialView"/>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/viewProfile.js" runat="server"></script>
}