@model ClassViewModel
<div class="col-md-4 col-sm-6">
    <div class="friend-card">
        <img src="https://www.bootdey.com/image/400x100/008B8B" alt="profile-cover" class="img-responsive cover">
        <div class="card-info">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" class="profile-photo-lg">
            <div class="friend-info">
                <a href="#" class="pull-right text-green">My Friend</a>
                <h5><a href="timeline.html" class="profile-link">Sophia Lee</a></h5>
                <p>Student at Harvard</p>
            </div>
        </div>
    </div>
</div>
