@model JoinModel
<form method="post" class="form-group">
    <label asp-for="Id"></label>
    <input asp-for="Id" style="border: #999 1px solid" class="form-control" value=""></input>
    <span asp-validation-for="Id" class="small text-danger"></span>
    <br />
    <button type="submit" class="btn btn-primary">Влез</button>
</form>