<li class="nav-item align-items-center d-flex">
    <a class="nav-link text-dark" asp-controller="Tests" asp-action="Index">Тестове</a>
</li>
<li class="nav-item align-items-center d-flex">
    <a class="nav-link text-dark" asp-controller="Lessons" asp-action="Index">Уроци</a>
</li>
<li class="nav-item align-items-center d-flex">
    <a class="nav-link text-dark" asp-controller="Classes" asp-action="Index">Класове</a>
</li>