@model TestEditViewModel
@{
    ViewBag.Title = "Edit Test";
}
<div class="editMain">
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item align-items-center d-flex">
                        <button class="nav-link text-dark" type="submit">Готово</button>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
    <form method="post" style="width: 60%">
        <div id="addAddMoreDiv">
            @for (int i = 0; i < Model.ClosedQuestions.Count + Model.OpenQuestions.Count; i++)
            {
                if (Model.ClosedQuestions.Any(q => q.Order == i))
                {
                    var question = Model.ClosedQuestions.FirstOrDefault(q => q.Order == i);
                    int indx = Model.ClosedQuestions.IndexOf(question);
                    <partial name="ClosedQuestionPartialView" for="ClosedQuestions[indx]"/>
                }
                else
                {
                    var question = @Model.OpenQuestions.FirstOrDefault(q => q.Order == i);
                    int indx = Model.OpenQuestions.IndexOf(question);
                    <partial name="OpenQuestionPartialView" for="OpenQuestions[indx]"/>
                }
            }
        </div>
        <button class="btn blue btn-primary" type="submit">Готово</button>
    </form>
    <div class="floatingContainer">
        <a id="add-q-btn" class="floatingButton">+</a>
    </div>
</div>

@section Scripts
{
    <script>
        function onFocus(e) {
            console.log(e.parentNode.parentNode.parentNode)
            e.parentNode.parentNode.parentNode.style.backgroundPosition = "0";
        }
        function onFocusOut(e){
                e.parentNode.parentNode.parentNode.style.backgroundPosition = "-0.4em 0em";
        }
                $('#add-q-btn').on('click', function () {
            $.ajax({
                url: '@Url.Action("AddQuestion", "Tests")',
                type: 'GET',
                data: {
                },
                success: function (result) {
                    $('#addAddMoreDiv').append(result);
                },
                error: function () {
                }
            });
        });
    </script>
}
