@{
    ViewBag.Title = "Изпитници ";
}
@model IEnumerable<StudentViewModel>
<div class="row" style="justify-content: center">
    <div class="table-responsive" style="width: 80%;">
        <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col" style="width: 200px;"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                       <img src="~/@student.Picture" class="avatar-sm rounded-circle me-2"/>
                        @student.Name
                    </td>
                    <td>@student.Email</td>
                    <td>
                        <a class=" btn btn-secondary" asp-action="TestGrading" asp-controller="Tests" asp-route-testId="@ViewContext.RouteData.Values["testId"]" asp-route-studentId="@student.Id">Оцени</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>