@model IEnumerable<IntelliTest.Models.Tests.TestViewModel>
@{
    ViewBag.Title = "Tests Blog";
}

<div>
    <main class="cd-main-content">
        @if ((bool)TempData.Peek("isTeacher"))
        {
            <div class="floating-container">
                <a class="floating-button" asp-action="Create">+</a>
            </div>
        }
        <section class="cd-gallery">
            <ul style="width: 100%">
                @foreach (var test in Model)
                {
                    <partial name="TestPartialView" for="@test"/>
                }
            </ul>
            <div class="cd-fail-message">Няма резултати</div>
        </section>
        <partial name="FilterMenuPartialView"/>
    </main>
</div>
@section Scripts
{
    <script src="~/js/filter.js"></script>
}