@using IntelliTest.Infrastructure
@model QueryModel<TestViewModel>
@{
    ViewBag.Title = "Tests Blog";
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var maxPage = Math.Ceiling((double)Model.TotalItemsCount /
                                   Model.ItemsPerPage);
}

<div>
    <main class="cd-main-content">
        @if (User.IsTeacher())
        {
            <div class="floating-container">
                <a class="floating-button" asp-action="Create">+</a>
            </div>
        }
        <section class="cd-gallery">
            <ul style="width: 100%">
                @foreach (var test in Model.Items)
                {
                    <partial name="TestPartialView" for="@test"/>
                }
            </ul>
        </section>
        <partial model="Model.Filters" name="FilterMenuPartialView"/>
    </main>
</div>
            @if (Model.Items.Count() == 0)
            {
                    <div class="cd-fail-message">Няма резултати</div>
            }
@section Scripts
{
    <script src="~/js/filter.js"></script>
    <script>
        OnTrigger();
        $("#main").css("margin-bottom", "0px");
    </script>
}