@using IntelliTest.Core.Models.Enums
@model TestReviewViewModel
@{
    ViewBag.Title = "Резултати от тест";
}
<div class="editMain">
    <div id="addAddMoreDiv" style="width: 60%; margin-top: 50px; margin-bottom: 50px">
        @{
            int closedQuestionIndex = 0;
            int openQuestionIndex = 0;
            for (int i = 0; i < Model.OpenQuestions.Count + Model.ClosedQuestions.Count; i++)
            {
                if (Model.QuestionOrder[i] == QuestionType.Closed)
                {
                    <partial name="../Questions/Closed/ClosedQuestionReviewPartialView" for="ClosedQuestions[closedQuestionIndex]" />
                    closedQuestionIndex++;
                }
                else
                {
                    <partial name="../Questions/Open/OpenQuestionReviewPartialView" for="OpenQuestions[openQuestionIndex]" />
                    openQuestionIndex++;
                }
            }
        }
        <hr/>
        <a class="btn blue btn-primary" asp-controller="Tests" asp-action="Index">Готово</a>
    </div>
</div>

@section Scripts
    {
        <script>
                function onFocus(e) {
                    e.parentNode.parentNode.parentNode.style.backgroundPosition = "0";
                }
                function onFocusOut(e){
                    e.parentNode.parentNode.parentNode.style.backgroundPosition = "-0.4em 0em";
                }
            </script>
}
