@using IntelliTest.Core.Models.Enums
@model TestSubmitViewModel
@{
    ViewBag.Title = "Taking Test";

    int mins = Model.Time;
    int sec = 0;
}
<div class="editMain">
    <div id="addAddMoreDiv">
        <div class="timer">
            <h1 id="timer" style="margin: 0">@mins.ToString("D2"):@sec.ToString("D2")</h1>
        </div>
        <form method="post" name="test" asp-action="Take">
            @{
                int closedQuestionsIndex = 0;
                int openQuestionsIndex = 0;
                for (int i = 0; i < Model.QuestionOrder.Count; i++)
                {
                    if (Model.QuestionOrder[i] == QuestionType.Closed)
                    {
                        <partial name="Questions/ClosedQuestionTakePartialView" for="ClosedQuestions[closedQuestionsIndex]" />
                        closedQuestionsIndex++;
                    }
                    else
                    {
                        <partial name="Questions/OpenQuestionTakePartialView" for="OpenQuestions[openQuestionsIndex]" />
                        openQuestionsIndex++;
                    }
                }
            }
            <hr/>
            <button class="btn blue btn-primary" type="submit">Готово</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
            let min = @mins;
            let sec = @sec;
    </script>
    <script src="~/js/testTake.js" asp-append-version="true"></script>
}
@{
    var id = Context.GetRouteData().Values["testId"];
    if (TempData.ContainsKey("TestStarted"))
    {
        string sessionId = ((Guid)TempData.Peek("TestStarted")).ToString();
        if (sessionId == (string)id)
        {
            TempData.Remove("TestStarted");
            <script defer>
                    submitted = true;
                    document.forms["test"].submit(); 
            </script>
        }
        else
        {
            <script>
                    document.location.href = "/Take/@sessionId"
            </script>
        }
    }
    else
    {
        TempData["TestStarted"] = id;
    }
}