@using IntelliTest.Core.Models.Enums
@model TestReviewViewModel
@{
    ViewBag.Title = "Оценяване";
}
<div class="editMain">
    <div id="addAddMoreDiv" style="width: 60%; margin-top: 50px; margin-bottom: 50px">
        <form asp-action="TestGrading" method="post">
            @{
                int closedQuestionsIndex = 0;
                int openQuestionsIndex = 0;
                for (int i = 0; i < Model.QuestionOrder.Count; i++)
                {
                    if (Model.QuestionOrder[i] == QuestionType.Closed)
                    {
                        <partial name="../Questions/Closed/ClosedQuestionReviewPartialView" for="ClosedQuestions[closedQuestionsIndex]" />
                        closedQuestionsIndex++;
                    }
                    else
                    {
                        <partial name="../Questions/Open/OpenQuestionScorePartialView" for="OpenQuestions[openQuestionsIndex]"/>
                        openQuestionsIndex++;
                    }
                }
            }
            <hr/>
            <button type="submit" class="btn blue btn-primary">Готово</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function onFocus(e) {
            e.parentNode.parentNode.parentNode.style.backgroundPosition = "0";
        }
        function onFocusOut(e){
            e.parentNode.parentNode.parentNode.style.backgroundPosition = "-0.4em 0em";
        }
    </script>
}