@model IntelliTest.Core.Models.Questions.Closed.ClosedQuestionReviewViewModel

<div class="questBox">
    <p class="questionScore">@($"{Model.Score:f2}")/@Model.MaxScore</p>
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="@Model.ImagePath" style="max-width: 90%" />
    }
    <div class="customRow">
        <div class="questTextBox">
            <p>Въпрос: @Model.Text</p>
        </div>
    </div>
    <div class="choice" onFocus="onFocus(this)" onBlur="onFocusOut(this)">
        @for (int i = 0; i < Model.Answers.Count(); i++)
        {
            <div class="questTextBox icon-answer option">
                @{
                    @if (Model.CorrectAnswers.Contains(i))
                    {
                        if (Model.AnswerIndexes[i])
                        {
                            <i class="fa-solid fa-square-check" style="color: #358DF1;"></i><p>Правилен отговор</p>
                        }
                        else
                        {
                            <i class="fa-solid fa-square-check" style="color: #198754;"></i>

                            <p>Неизбран правилен отговор</p>
                        }
                    }
                    else if (Model.AnswerIndexes[i])
                    {
                        <i class="fa-solid fa-square-xmark" style="color: #BF3100;"></i><p>Грешен отговор</p>
                    }
                    else
                    {
                        <i class="fa-regular fa-square"></i>
                    }
                }
                <p>@Model.Answers[i]</p>
            </div>
        }
    </div>
</div>