@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IntelliTest.Infrastructure
@model QueryModel<TestViewModel>
<div>
    <main class="cd-main-content">
        @if (User.IsTeacher())
        {
                <div class="floating-container">
                    <a class="floating-button" asp-action="Create" asp-controller="Tests">+</a>
                </div>
        }
        <section class="cd-gallery">
            <ul style="width: 100%">
                @foreach (var test in Model.Items)
                {
                    <partial name="~/Views/Tests/TestCreatorPartialView.cshtml" for="@test"/>
                }
            </ul>
            @if (Model.Items.Count() == 0)
            {
                <div class="cd-fail-message">Няма резултати</div>
            }
        </section>
    </main>
</div>