@using IntelliTest.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditUser
<form method="post">
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Име</label>
                    <input class="form-control" type="text"
                           asp-for="FirstName" value="@Model.FirstName">
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Фамилия</label>
                    <input class="form-control" type="text"
                           asp-for="LastName" value="@Model.LastName">
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Училище</label>
                    <input class="form-control" type="text"
                           asp-for="School" value="@Model.School">
                    <span class="text-danger" asp-validation-for="School"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <div class="text-center mb-3" style="display: flex; flex-direction: column;">
                        <label>Аз съм... (ще трябва да влезете отново в профила си)</label>
                        <div class="switch-button">
                            @{
                                if (!User.IsStudent() && !User.IsTeacher())
                                {
                                    <input class="switch-button-checkbox" asp-for="IsTeacher" type="checkbox"></input>
                                    <label class="switch-button-label" for="">
                                        <span class="switch-button-label-span">Ученик</span>
                                    </label>
                                }
                                else
                                {
                                    <input class="switch-button-checkbox" asp-for="IsTeacher" type="checkbox" disabled></input>
                                    <label class="switch-button-label" for="">
                                        <span class="switch-button-label-span">Ученик</span>
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col">
                <div class="form-group">
                    <label>Current Password</label>
                    <input class="form-control" type="password" asp-for="Password">

                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text"
                           asp-for="Email" value="@Model.Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px">
    <div class="col d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">Запази</button>
    </div>
</div>
</form>