@{
    ViewData["Title"] = "Home Page";
}
<div class="contentOnly">
    <div class="splitter">
        <img src="~/img/test-img.png" id="homeImg" />
        <div>
            <p class="text-left my-1">
                IntelliTest е уеб платформа преназначена за учители с цел да улесни изготвянето и проверяването не тестове.
                Предоставя възможност за автоматично генериране на въпроси от ключовите думи на даден текст.
                Можеш да анализираш тестовете, с цел по-леснено оценяване.
                Вече можеш да използваш автоматична проверка на въпросите с отворен отговор.
            </p>
        </div>
    </div>
    <section>
        <h2 class="why">Защо <span class="logoCol1">Интели</span><span class="logoCol2">Тест</span></h2>
        <div class="row">
            <div class="column">
                <div class="customCard">
                    <div class="icon">
                        <img src="~/img/question-feedback.png" width=64 height=64 />
                    </div>
                    <h3>Оценяване на въпроси с отворен отговор</h3>
                    <p>
                        IntelliTest използва GPT 3.5, за да даде оценка на въпросите с отворен отговор и да улесни работата на учителя.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="customCard">
                    <div class="icon">
                        <img src="~/img/ai-chip.png" />
                    </div>
                    <h3>Генерирай въпроси от текст</h3>
                    <p>
                        IntelliTest използва изкуствен интелект, за да генерира въпроси по даден текст. Приложението използва модела GPT 3.5
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="customCard">
                    <div class="icon">
                        <img src="~/img/users-line.svg" width="64" height="64" />
                    </div>
                    <h3>Анализиране на тестовете</h3>
                    <p>
                        Следи как се справят учниците, анализирай отговорите и разбери кои са най-често срещаните грешки
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>